@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "tailwindcss";

@theme {
  --font-dm-sans: DM Sans, sans-serif;
  --breakpoint-xs: 480px;
}

@layer base {
  body {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
  }

  h1 {
    @apply mx-auto max-w-4xl text-center text-5xl font-bold leading-tight tracking-[-1%] text-white sm:text-[64px] sm:leading-[76px];
  }

  h2 {
    @apply text-2xl font-bold text-white sm:text-3xl;
  }

  main {
    @apply min-h-screen relative;
  }

  header {
    @apply sm:mt-10 mt-5;
  }
  body {
    @apply bg-gray-900 text-white;
  }
}

@utility text-gradient {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-purple-600;
}

@utility hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
}
